* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.kuangjia {
    height: 100%;
    background-image: linear-gradient(to right, #FED0FC, #63D1EC);
    overflow: auto;
}

.gujia {
    height: 800px;
    width: 1200px;
    border-radius: 20px;
    position: relative;
    margin: 80px auto;
}

.huanying {
    height: 200px;
    width: 1200px;
    font-size: 144px;
    padding-top: 50px;
    text-align: center;
}

.kaishi {
    height: 80px;
    width: 1200px;
    font-size: 36px;
    padding-top: 20px;
    text-align: right;
}

.denglu {
    height: 100px;
    width: 700px;
    float: left;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 30px;
    border-radius: 20px;
    position: relative;
    border: 0;
    border-bottom: 1px solid rgb(128, 125, 125);
    outline: none;
    display: block;
}

.zouni {
    height: 80px;
    width: 200px;
    float: right;
    background: #FFF;
    margin-right: 150px;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 36px;
    text-decoration: none;
    padding-top: 22px;
    border-radius: 20px;
    position: relative;
    border: 0;
    border-bottom: 1px solid rgb(128, 125, 125);
    outline: none;
    display: block;
    text-align: center;
}